h1{
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}
.card-principal{
    margin: 0 auto;
    width: 70%;
    height: 73vh;
    border-radius: 14px 14px 0px 0px;
    background: rgba(255, 255, 255, 0.90);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding-top: 20px; /* Ajusta el padding-top según lo necesites */
}
.card-secondary{
    padding-top: 20px; /* Ajusta el padding-top según lo necesites */
    width: 80%;
    height: 430px;
    margin: 0 auto;
    border-radius: 14px;
    background: #BD79B6;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
td,th{
    vertical-align: middle;
}
table{
    text-align: center;
    border-collapse: collapse;
    border-radius: 14px;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
    height: 100%;
    max-height:60vh;
}

/* Cambiar el color del track (fondo del scroll) */
::-webkit-scrollbar {
    width: 12px; /* Ancho del scroll */
}

/* Cambiar el color del thumb (la barra del scroll) */
::-webkit-scrollbar-thumb {
    background-color: #BD79B6; /* Color del thumb */
    border-radius: 6px; /* Borde redondeado del thumb */
}

/* Cambiar el color del thumb cuando está en hover (opcional) */
::-webkit-scrollbar-thumb:hover {
    background-color: #954E9E; /* Color del thumb al pasar el cursor sobre él */
}

/* Cambiar el color del track cuando está en hover (opcional) */
::-webkit-scrollbar-track:hover {
    background-color: #F0F0F0; /* Color del track*/
}
/* .celda-pink{
    background-color: #BD79B6;
    color: aquamarine;
} */
/* .border-rad{
    border-radius: 14px !important;
}

.border-rad-test:first-child {
    border-radius: 14px;
}
.no{
    border-collapse: collapse;
    border-radius: 390px !important;
} */